@import '../vars';
.song {
    text-align: left;
    padding: 5px;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    line-height: 5px;
}

.song h3 {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .song {
        text-align: center;
    }
}
