@import 'normalize';
@import 'components/header';
@import 'vars';
@import 'components/create-form';
@import 'components/added-songs';
@import 'components/validation';
@import 'components/songInfo';

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
}

body {
    background: #2c2c2c;
    position: relative;
}

#container {
    position: relative;
}


