@import 'normalize';
@import 'components/_header';
@import '_vars';
@import 'components/_create-form';
@import 'components/_added-songs';
@import 'components/validation';

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
}

body {
    background: #2c2c2c;
    position: relative;
}

#songs {
    font-size: 30px;
    color: $lime-green;
    margin-top: 30px;
}

#container {
    position: relative;
}

#num-songs {
    font-size: 30px;
    color: white;
    margin-left: 10px;
}


